.container {
    margin-bottom: 100px;
}
.orange-bg {
    background-color: #fceae8;
    border-radius: 20px;
}
.carousel-item {
    padding: 20px 40px;
}
.price {
    color: #FF136F;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    cursor: pointer;
    border: none;
    padding: 9px 25px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, yellow, orange);
}
.cat2{
    background-color: #FF136F;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #FF136F, pink);
}
.cat3 {
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, blue, cyan);
}
.categories h1 {
    color: white;
}
.categories img {
    width: 100px;
}
.card {
    box-shadow: 5px 5px 10px #888888;
    border: none;
}
.card-footer {
    border-top: none;
    background-color: white;
}
#subscribe {
    height: 300px;
}